<div class="container">
    <form class="sky-form" name="endpointForm" ng-submit="submit()">
        <fielset>
            <section>
                <label class="label">URI du endpoint REST</label>
                <label class="input">
                    <input type="text" name="uri" placeholder="URI du endpoint REST" ng-model="endpoint.uri"/>
                </label>
            </section>
            <section>
                <label class="label">Méthode HTTP</label>

                <div class="inline-group">
                    <label class="radio">
                        <input name="method" checked="" type="radio" value="GET" ng-model="endpoint.method">
                        <i class="rounded-x"></i>GET</label>
                    <label class="radio">
                        <input name="method" type="radio" value="POST" ng-model="endpoint.method">
                        <i class="rounded-x"></i>POST</label>
                    <label class="radio">
                        <input name="method" type="radio" value="PUT" ng-model="endpoint.method">
                        <i class="rounded-x"></i>PUT</label>
                    <label class="radio">
                        <input name="method" type="radio" value="DELETE" ng-model="endpoint.method">
                        <i class="rounded-x"></i>DELETE</label>
                </div>
            </section>
            <section>
                <label class="label">Réponse du endpoint REST au format JSON</label>
                <label class="textarea textarea-resizable">
                    <textarea name="content" rows="10" ng-model="endpoint.content"></textarea>
                </label>
            </section>
        </fielset>
        <footer>
            <button type="button" class="btn btn-warning">
                <i class="fa fa-arrow-circle-left"></i> Précédent
            </button>
            <button type="submit" class="btn btn-success pull-right">
                <i class="fa fa-check"></i> Créer le endpoint
            </button>
        </footer>
    </form>
</div>