<div class="container">
    <alert ng-if="alert" type="{{alert.type}}" close="closeAlert()">
        <i class="fa" ng-class="alert.type === 'success' ? 'fa-check':'fa-warning'"></i>
        &nbsp;{{alert.msg}}
    </alert>
    <form class="sky-form" name="endpointForm" ng-submit="submit()" novalidate>
        <fieldset>
            <div class="row">
                <section class="col-md-5">
                    <label class="label">URI du endpoint REST</label>
                    <label class="input"
                           ng-class="{'state-error': endpointForm.uri.$touched && endpointForm.uri.$invalid}">
                        <input type="text" name="uri" placeholder="URI du endpoint REST" ng-model="endpoint.uri"
                               required/>

                        <div ng-messages="endpointForm.uri.$touched && endpointForm.uri.$error" class="note note-error">
                            <div ng-message="required">L'URI du endpoint REST est obligatoire.</div>
                            <div ng-message="endpointAvailable">Cette URI et cette méthode HTTP sont déjà utilisées.
                                Veuillez changer l'une de ces valeurs
                            </div>
                        </div>
                    </label>
                </section>
                <section class="col-md-5">
                    <label class="label">Méthode HTTP</label>

                    <div class="inline-group">
                        <label class="radio" ng-init="endpoint.method = endpoint.method ? endpoint.method : 'GET'">
                            <input name="method" type="radio" value="GET" ng-model="endpoint.method">
                            <i class="rounded-x"></i>GET</label>
                        <label class="radio">
                            <input name="method" type="radio" value="POST" ng-model="endpoint.method">
                            <i class="rounded-x"></i>POST</label>
                        <label class="radio">
                            <input name="method" type="radio" value="PUT" ng-model="endpoint.method">
                            <i class="rounded-x"></i>PUT</label>
                        <label class="radio">
                            <input name="method" type="radio" value="DELETE" ng-model="endpoint.method">
                            <i class="rounded-x"></i>DELETE</label>
                    </div>
                    <div ng-messages="endpointForm.method.$touched && endpointForm.method.$invalid"
                         class="note note-error">
                        <div ng-message="required">La méthode HTTP est obligatoire.</div>
                        <div ng-message="endpointAvailable">Cette URI et cette méthode HTTP sont déjà utilisées.
                            Veuillez changer l'une de ces valeurs
                        </div>
                    </div>
                </section>
                <section class="col-md-2">
                    <label class="label">Délai d'attente</label>
                    <label class="input"
                           ng-class="{'state-error': endpointForm.delay.$touched && endpointForm.delay.$invalid}">
                        <input type="number" name="delay" placeholder="Délai d'attente" ng-model="endpoint.delay"
                               min="0"/>

                        <div ng-messages="endpointForm.delay.$touched && endpointForm.delay.$error"
                             class="note note-error">
                            <div ng-message="number">Le délai d'attente doit être numérique</div>
                            <div ng-message="min">Le délai d'attente doit être un positif</div>
                        </div>
                    </label>
                </section>

            </div>
            <section>
                <table class="table table-wrap table-striped" ng-if="endpoint.params.length">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Valeur</th>
                        <th class="col-md-1"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="param in endpoint.params">
                        <td><label class="input"><input type="text" ng-model="param.name"></label></td>
                        <td><label class="input"><input ng-model="param.value"></label></td>
                        <td>
                            <button type="button" class="btn btn-sm btn-danger center-block"
                                    ng-click="removeParam($index)">
                                <i class="fa fa-remove"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <button class="btn btn-primary" type="button" ng-click="addParam()">
                    <i class="fa fa-plus"></i> Ajouter un paramètre
                </button>
            </section>
            <section>
                <label class="label">Réponse du endpoint REST au format JSON</label>
                <label class="textarea textarea-resizable"
                       ng-class="{'state-error' : endpointForm.content.$touched && endpointForm.content.$invalid}">
                    <textarea name="content" rows="6" ng-model="endpoint.content" required></textarea>

                </label>

                <div ng-messages="endpointForm.content.$touched && endpointForm.content.$error"
                     class="note note-error">
                    <div ng-message="required">La réponse du endpoint REST est obligatoire.</div>
                </div>
            </section>
            <footer>
                <button type="button" class="btn btn-warning" back>
                    <i class="fa fa-arrow-circle-left"></i> Précédent
                </button>
                <button type="submit" class="btn btn-success pull-right" ng-disabled="endpointForm.$invalid">
                    <i class="fa fa-check"></i> {{endpoint.id ? 'Modifier le endpoint' : 'Créer le endpoint'}}
                </button>
            </footer>
        </fieldset>
    </form>
</div>