<div class="container">
    <alert ng-if="alert" type="{{alert.type}}" close="closeAlert()">
        <i class="fa" ng-class="alert.type === 'success' ? 'fa-check' : 'fa-warning'"></i>
        &nbsp;{{alert.msg}}<a ng-if="alert.uri" href="{{alert.uri}}">{{alert.uri}}</a>
    </alert>
    <form class="form-inline" role="form">
        <div class="form-group col-md-5">
            <label class="sr-only" for="search-uri">Rechercher une URL</label>

            <input type="text" class="form-control full-size" id="search-uri" placeholder="Rechercher une URL"
                   ng-change="searchChange()" ng-model="search.uri">
        </div>
        <div class="form-group col-md-2">
            <label class="sr-only" for="search-uri">Méthode</label>

            <input type="text" class="form-control full-size" id="search-method" placeholder="Méthode"
                   ng-change="searchChange()" ng-model="search.method">
        </div>
        <div class="form-group col-md-4">
            <label class="sr-only" for="search-uri">Rechercher un contenu</label>

            <input type="text" class="form-control full-size" id="search-content" placeholder="Rechercher un contenu"
                   ng-change="searchChange()" ng-model="search.content">
        </div>
    </form>
    <table class="table table-striped table-wrap">
        <thead>
        <tr>
            <th class="col-md-5" ng-click="sortColumn('uri')">URI du endpoint
                <i class="pull-right fa" ng-class="sortClass('uri')"></i></th>
            <th class="col-md-1" ng-click="sortColumn('method')">Méthode
                <i class="pull-right fa" ng-class="sortClass('method')"></i></th>
            <th class="col-md-3">Contenu</th>
            <th class="col-md-1">Visualiser</th>
            <th class="col-md-1">Modifier</th>
            <th class="col-md-1">Supprimer</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="endpoint in currentEndpoints">
            <td>
                <a href="{{endpoint.fullUri}}">{{endpoint.fullUri}}</a></td>
            <td>{{endpoint.method}}</td>
            <td>{{endpoint.content}}</td>
            <td>
                <button class="btn btn-info btn-xs" ng-click="openModal(endpoint)">
                    <i class="fa fa-search"></i> Visualiser
                </button>
            </td>
            <td>
                <a class="btn btn-warning btn-xs" href="#/endpoints/{{endpoint.id}}">
                    <i class="fa fa-pencil"></i> Modifier
                </a>
            </td>
            <td>
                <button class="btn btn-danger btn-xs" ng-click="delete(endpoint)">
                    <i class="fa fa-trash-o"></i> Supprimer
                </button>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="col-md-4 padding-top-20">
        <a href="#/endpoints/new" class="btn btn-success"> <i class="fa fa-plus"></i> Créer un endpoint</a>
    </div>
    <div class="col-md-8">
        <pagination total-items="endpointsProps.total" ng-model="currentPage" max-size="5" boundary-links="true"
                    items-per-page="endpointsProps.numberPerPage" class="pull-right"></pagination>
    </div>
</div>