<div class="container">
    <table class="table table-striped table-wrap">
        <thead>
        <tr>
            <th class="col-md-3" ng-click="sortColumn('path')">URL
                <i class="pull-right fa" ng-class="sortClass('path')"></i></th>
            <th class="col-md-3" ng-click="sortColumn('status')">Statut
                <i class="pull-right fa" ng-class="sortClass('status')"></i></th>
            <th class="col-md-3" ng-click="sortColumn('method')">Méthode
                <i class="pull-right fa" ng-class="sortClass('method')"></i></th>
            <th class="col-md-3" ng-click="sortColumn('timestamp')">Date
                <i class="pull-right fa" ng-class="sortClass('timestamp')"></i></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="request in currentRequests | orderBy : sort.column : sort.reverse">
            <td>{{request.path}}</td>
            <td>{{request.status}}</td>
            <td>{{request.method}}</td>
            <td>{{request.timestamp | date:'dd/MM/yyyy HH:mm:ss'}}</td>
        </tr>
        </tbody>
    </table>
    <pagination total-items="requestsProps.total" ng-model="currentPage" max-size="5" boundary-links="true"
                items-per-page="requestsProps.numberPerPage" num-pages="requestsProps.numPages" class="pull-right">
    </pagination>
</div>