<div class="container">
    <form class="sky-form" name="endpointForm" novalidate>
        <fieldset>
            <div class="row">

                <section class="col-md-5">
                    <label class="label">URI du endpoint REST</label>
                    <label class="input"
                           ng-class="{'state-error': endpointForm.uri.$dirty && endpointForm.uri.$invalid}">
                        <input type="text" name="uri" placeholder="URI du endpoint REST" required
                               ng-model="editEndpoints.endpoint.uri"/>

                        <div class="note note-error" ng-if="endpointForm.uri.$dirty"
                             ng-messages="endpointForm.uri.$error">
                            <div ng-message="required">L'URI du endpoint REST est obligatoire.</div>
                        </div>
                    </label>
                </section>
                <section class="col-md-5">
                    <label class="label">Méthode HTTP</label>

                    <div class="inline-group">
                        <label class="radio">
                            <input name="method" type="radio" value="GET" ng-model="editEndpoints.endpoint.method">
                            <i class="rounded-x"></i>GET</label>
                        <label class="radio">
                            <input name="method" type="radio" value="POST" ng-model="editEndpoints.endpoint.method">
                            <i class="rounded-x"></i>POST</label>
                        <label class="radio">
                            <input name="method" type="radio" value="PUT" ng-model="editEndpoints.endpoint.method">
                            <i class="rounded-x"></i>PUT</label>
                        <label class="radio">
                            <input name="method" type="radio" value="DELETE" ng-model="editEndpoints.endpoint.method">
                            <i class="rounded-x"></i>DELETE</label>
                    </div>
                </section>
                <section class="col-md-2">
                    <label class="label">Délai d'attente en ms</label>
                    <label class="input"
                           ng-class="{'state-error': endpointForm.delay.$dirty && endpointForm.delay.$invalid}">
                        <input type="number" name="delay" placeholder="Délai d'attente" required min="0"
                               ng-model="editEndpoints.endpoint.delay"/>

                        <div class="note note-error" ng-if="endpointForm.delay.$dirty"
                             ng-messages="endpointForm.delay.$error">
                            <div ng-message="required">Le délai d'attente est obligatoire</div>
                            <div ng-message="number">Le délai d'attente doit être numérique</div>
                            <div ng-message="min">Le délai d'attente doit être un positif</div>
                        </div>
                    </label>
                </section>

            </div>
            <section>
                <table class="table table-wrap table-striped"><!--TODO Afficher le endpoint possède des paramètres -->
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Valeur</th>
                        <th class="col-md-1"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="param in params"><!-- TODO Itérer sur les paramètres (name, value)-->
                        <td><label class="input"><input type="text" ng-model="param.name"></label></td>
                        <!-- TODO Nom du param -->
                        <td><label class="input"><input type="text" ng-model="param.value"></label></td>
                        <!-- TODO Valeur du param -->
                        <td>
                            <button type="button" class="btn btn-sm btn-danger center-block">
                                <!-- TODO Suppression de param -->
                                <i class="fa fa-remove"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <button class="btn btn-primary" type="button"><!-- TODO Ajout de param -->
                    <i class="fa fa-plus"></i> Ajouter un paramètre
                </button>
            </section>
            <section>
                <label class="label">Réponse du endpoint REST au format JSON</label>
                <label class="textarea textarea-resizable"
                       ng-class="{'state-error': endpointForm.content.$dirty && endpointForm.content.$invalid}">
                    <textarea name="content" rows="6" required ng-model="editEndpoints.endpoint.content"></textarea>
                </label>

                <div class="note note-error" ng-if="endpointForm.content.$dirty" ng-messages="endpointForm.content.$error">
                    <div ng-message="required">La réponse du endpoint REST est obligatoire.</div>
                </div>
            </section>
            <footer>
                <button type="button" class="btn btn-warning"><!-- TODO Retour à la liste des endpoints -->
                    <i class="fa fa-arrow-circle-left"></i> Retour
                </button>
                <button type="submit" class="btn btn-success pull-right">
                    <!-- TODO Désactiver le button si le formulaire est invalide -->
                    <i class="fa fa-check"></i> Modifier/Créer le endpoint
                    <!-- TODO Afficher "Modifier/Créer le endpoint" en fonction du cas -->
                </button>
            </footer>
        </fieldset>
    </form>
</div>