<div class="navbar navbar-default navbar-fixed-bottom copyright">
    <div class="container">
        <div class="col-md-6">
            <p class="copyright-space">
                2014 | Fake REST API | Version 0.0.0 |
                <a href="mailto:jntakpe@gmail.com"><span class="icon-envelope"></span> Contact</a>
            </p>
        </div>
        <div class="col-md-2">
            <ul class="social-icons">
                <li><a href="https://github.com/jntakpe/fra" data-original-title="Github" class="social_github"></a>
                </li>
                <li><a href="https://twitter.com/jntakpe" data-original-title="Twitter" class="social_twitter"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
