<header class="header">
    <div class="topbar">
        <div class="container">
            <div class="col-md-offset-4 col-md-2 title-bar">
                <a href="/">Fake REST API</a>
            </div>
            <ul class="loginbar pull-right"></ul>
        </div>
    </div>
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="fa fa-bars"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img id="logo-brand" src="static/img/sopra-logo.jpg}" alt="Logo"/>
                </a>
            </div>

            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/"><i class="fa fa-home"></i> <span>Accueil</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
