<table class="table table-striped table-wrap">
    <thead>
    <tr>
        <th class="col-md-4">URI du endpoint
            <i class="pull-right fa"></i></th>
        <th class="col-md-1">Méthode
            <i class="pull-right fa"></i></th>
        <th class="col-md-1">Délai
            <i class="pull-right fa"></i></th>
        <th class="col-md-3">Contenu</th>
        <th class="col-md-1">Visualiser</th>
        <th class="col-md-1">Modifier</th>
        <th class="col-md-1">Supprimer</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="endpoint in endpoints.list"><!-- TODO Itérer sur les endpoints -->
        <td>
            <a href="">{{endpoint.uri}}</a></td>

        <td>{{endpoint.method}}</td>
        <!-- TODO Afficher la méthode HTTP du endpoint (propriété méthode) -->
        <td>{{endpoint.delay}}</td>
        <!-- TODO Afficher le délai du endpoint (propriété delay) -->
        <td>{{endpoint.content}}</td>
        <!-- TODO Afficher le contenu HTTP du endpoint (propriété content) -->
        <td>
            <button class="btn btn-info btn-xs"> <!-- TODO (facultatif) ouvrir une popup de visualisation du JSON -->
                <i class="fa fa-search"></i> Visualiser
            </button>
        </td>
        <td>
            <a class="btn btn-warning btn-xs" ui-sref="main.endpoints.edit({id: endpoint.id})">
                <!-- TODO Débrancher vers l'état edit.endpoints -->
                <i class="fa fa-pencil"></i> Modifier
            </a>
        </td>
        <td>
            <button class="btn btn-danger btn-xs" ng-click="endpoints.remove(endpoint)">
                <!-- TODO Supprimer le endpoint -->
                <i class="fa fa-trash-o"></i> Supprimer
            </button>
        </td>
    </tr>
    </tbody>
</table>