<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Fake REST API">
    <meta name="author" content="jntakpe">

    <title>Fake REST API</title>

    <link rel="shortcut icon" href="favicon.png">
    <link rel="stylesheet" href="static/css/css-core.min.css"/>
    <link rel="stylesheet" href="static/css/unify.css"/>
    <link rel="stylesheet" href="static/css/sky-forms.css"/>
    <link rel="stylesheet" href="static/css/sky-forms-custom.css"/>
    <link rel="stylesheet" href="static/css/fra.css"/>
    <link rel="stylesheet" href="static/css/unify-theme.css"/>
</head>
<body ng-app="fraApp" ng-cloak>
<header class="header">
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="fa fa-bars"></span>
                </button>
                <a class="navbar-brand" href="#/">
                    <img id="logo-brand" src="static/images/sopra-logo.jpg" alt="Logo"/>
                </a>
            </div>

            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    <li ng-class="{'active':'home'===navbar}">
                        <a href="#/"><i class="fa fa-home"></i> Accueil</a>
                    </li>
                    <li ng-class="{'active':'endpoints'===navbar}">
                        <a href="#/endpoints"><i class="fa fa-sitemap"></i> Endpoints</a>
                    </li>
                    <li ng-class="{'active':'trace'===navbar}">
                        <a href="#/trace"><i class="fa fa-tasks"></i> Dernières requêtes</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<div class="breadcrumbs">
    <div class="container">
        <h1 class="pull-left">{{title}}</h1>
        <ul class="pull-right breadcrumb">
            <li ng-repeat="item in breadcrumb" ng-class="{'active':$last}">
                <a ng-if="!$last" href="{{item.link}}">{{item.title}}</a>
                <span ng-if="$last">{{item.title}}</span>
            </li>
        </ul>
    </div>
</div>
<div class="content">
    <!--Vues AngularJS-->
    <div ng-view></div>
    <!--Fin vues AngularJS-->
</div>
<footer>
    <div class="navbar navbar-default navbar-fixed-bottom copyright">
        <div class="container">
            <div class="col-md-6">
                <p class="copyright-space">
                    2014 | Fake REST API | Version 1.2.4 |
                    <a href="mailto:jntakpe@gmail.com"><span class="icon-envelope"></span> Contact</a>
                </p>
            </div>
            <div class="col-md-2">
                <ul class="social-icons">
                    <li><a href="https://github.com/jntakpe/fra" data-original-title="Github" class="social_github"></a>
                    </li>
                    <li><a href="https://twitter.com/jntakpe" data-original-title="Twitter" class="social_twitter"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script src="static/js/js-core.min.js"></script>
<script src="static/js/fra-1.2.4.js"></script>
<script src="static/js/directives-1.2.4.js"></script>
<script src="static/js/services-1.2.4.js"></script>
<script src="static/js/controllers-1.2.4.js"></script>
</body>
</html>