<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
              data-target=".navbar-responsive-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="fa fa-bars"></span>
      </button>
      <a class="navbar-brand" ui-sref="main.home">
        <img id="logo-brand" src="/assets/images/sopra-logo.png" alt="Logo" height="75"/>
      </a>
    </div>

    <div class="collapse navbar-collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a ui-sref="main.home"><i class="fa fa-home"></i> Accueil</a>
        </li>
        <li>
          <a ui-sref="main.endpoints"><i class="fa fa-sitemap"></i> Endpoints</a>
        </li>
      </ul>
    </div>
  </div>
</div>
